<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10" style="height: 100%; display: table;">
        <div style="display: table-cell; vertical-align: middle;">
            <div class="alert alert-danger text-center">
            You do not belong to any of the groups. Please, choose and join to the group before test starting.
            <br>
                <a href='#' class="alert-link" id="lancet-test-open-groups">Join to group </a> and <a href='#' class="alert-link" id="lancet-test-refresh-main">Try again</a>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>