<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10" style="height: 100%; display: table;">
        <div style="display: table-cell; vertical-align: middle;">
            <div class="alert alert-danger text-center">
                To get started you must be logged.
                <br>
                Please, open the <a href='#' class="alert-link" id="lancet-test-sign-in">Login form</a>!
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>