<div class="row" style="height: 8px;"></div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 text-center">
        <ul class="nav nav-pills nav-stacked text-center">
            <li class="text-warning"><a href='#' onClick='Lancet.Controller.execute("!run test_application")'>Get tested</a></li>
            <li><a href='#' onClick='Lancet.Controller.execute("!run test_manager")'>Manager</a></li>
            <li><a href='#' onClick='Lancet.Controller.execute("!run test_groups")'>Groups</a></li>
            <li><a href='#' onClick='Lancet.Controller.execute("!run test_statistic")'>Results</a></li>
        </ul><br>
        <p style="font-size: 10px;">Lancet Test System (aplha version). Powered by LancetCMS<br>
            The MIT License (MIT)<br>
            Copyright &copy 2016 - 2017, Amelkin Vladimir
        </p>
    </div>
    <div class="col-xs-1"></div>
</div>